{% extends 'base.html' %}

{% block title %}Détail du mentorat - Amicale{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h5>Détail du mentorat</h5>
        <dl class="row">
          <dt class="col-sm-4">Mentor</dt>
          <dd class="col-sm-8">{{ mentorship.mentor.get_full_name|default:mentorship.mentor.username }}</dd>
          <dt class="col-sm-4">Mentoré</dt>
          <dd class="col-sm-8">{{ mentorship.mentee.get_full_name|default:mentorship.mentee.username }}</dd>
          <dt class="col-sm-4">Statut</dt>
          <dd class="col-sm-8">{{ mentorship.get_statut_display }}</dd>
          <dt class="col-sm-4">Demandé le</dt>
          <dd class="col-sm-8">{{ mentorship.created_at|date:"d/m/Y H:i" }}</dd>
          {% if mentorship.date_debut %}
            <dt class="col-sm-4">Début</dt>
            <dd class="col-sm-8">{{ mentorship.date_debut|date:"d/m/Y H:i" }}</dd>
          {% endif %}
          {% if mentorship.commentaires %}
            <dt class="col-sm-4">Commentaires</dt>
            <dd class="col-sm-8">{{ mentorship.commentaires|linebreaks }}</dd>
          {% endif %}
        </dl>
        <a href="{% url 'mentorship:my_requests' %}" class="btn btn-secondary">Retour</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
